.dboard-avatar{
	width: 200px;
	height: 230px;
	background-color: white;
}

.dboard-btn-sup{
	width: 150px;
	height: 30px;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	color: white;
	background-color: #1266f1;
}

.dboard-btn-sin{
	width: 250px;
	height: 50px;
	border: none;
	font-weight: bold;
	border-radius: 3px;
	color: white;
	background-color: #f19d12;
}

bc-gr2{
	background-color: #e9ebec;
}

.dboard-div-scroll{
	overflow: auto;
	margin-top: 40px;
	height: 550px;
}

.dboard-search{
	height: 30px;
	width: 300px;

	display: flex;
	flex-direction: row-reverse;

	border: solid black 1px;
	border-radius: 20px;
}

.img_gear{
	height: 50px;
	width: 50px;
	margin: 5px;
	transition: transform .7s ease-in-out;

}

.img_gear:hover {
  transform: rotate(360deg);
}