.bc-bl{
	background-color: #3E3B3B;
	box-shadow: active;
}
.bc-blue {
	background-color: #1266f1;
}

.bd-gr{
	border: solid 1.5px grey;
}

.bc-gr{
	background-color: #d6d6d6;
	box-shadow: active;
	padding: 0px 20px 0px 20px;
}

.h-px{
	height: 300px;
}

.btn-history{
	background-color: #616060;
}

.btn-history:hover{
	background-color: #616060;
}

.btn-history:focus{
	background-color: #616060;
}

.stats{
	background-color: #616060;
	border-radius: 1ch;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.stats-txt{
	font-size: 12px;
}

.stats > h5{
	color: white;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.user{
	height: 150px;
	width: 150px;
	padding: 10px;
	margin-top: 20px;
	border-radius: 600px;
}

.userHome{
	height: 120px;
	width: 120px;
	border-radius: 600px;
}


.row-img2{
	height: 20px;
	width: 20px;
	padding-top: 3px;
	margin: 5px;
}
.row-but2{
	border-radius: 2px;
	height: 35px;
}

.row-btn1{
	background-color: #3E3B3B;
	border-radius: 3px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#btn-profile{
	width: 150px;
	font-weight: bold;
	border: solid 1px black;
	border-radius: 3px;
	color: white;
	background-color: #1266f1;
}

#btn-history{
	width: 150px;
	font-weight: bold;
	border: solid 1px black;
	border-radius: 3px;
	color: white;
	background-color: #6b6a6a;

  -webkit-box-shadow: inset 0px 0px 5px black;
     -moz-box-shadow: inset 0px 0px 5px black;
          box-shadow: inset 0px 0px 5px black;
   outline: none;

}
#btn-history:active{
  transform: translateY(1px);
	border:none;
	box-shadow: none;
}

.row-but2:active {
  background-color: grey;
  transform: translateX(1px);
}

.img1{
	height: 45px;
	width: 45px;
	position: relative;
	left: 15%;
}

.achievement{
	border: solid 1px black;
	border-radius: 3px;
 
	width: 250px;
	height: 80px;
	display: flex;
	flex-direction: row;
	text-align: center;


}

.achievement-txt{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 20px;
	padding-left: 10px;
}

.achievement-txt > h6{
	font-weight: bold;
	color: black;
	margin-block-start: 15px;
	margin-block-end: 5px;
}

.achievement-txt > p{
	font-size: 10px;
	line-height: 15px;
	font-style: italic;
	font-weight: lighter;
}

.img2{
	height: 30px;
	width: 30p;
	padding-left: 20px;
}
