.t_home * > .sign_label {
    font-weight: 900;
    font-size: 62px;
    color: black;
}

.t_home * > .logo_nest {
    width: 604px;
    height: 294px;
}

.t_home * > .register_btn {
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.t_home * > .form_input {
    background: #ececec;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    border-width: 0px;
    border-radius: 10px;
}

.t_home * > .form_input:focus {
    transition: all .1s linear;
    border-color: #aaaaaa;
    box-shadow: inset 0px 0px 0px 1px #aaaaaa;
    border-width: 1px;
}

.t_home * > .recover_password {
    color: black;
}

.t_home * > .sign_in_button {
    width: 300px;
    font-weight: bolder;
}

.t_home * > .line_or_login {
    width: 100%; height: 20px; border-bottom: 1px solid #564A4A; text-align: center;
    opacity: 30%;
    margin: auto;
}

.t_home * > .line_or_login > span {
    background: #d9d9c9;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(217, 217, 201, 0.5), rgba(217, 201, 217, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(217, 217, 201, 0.5), rgba(217, 201, 217, 0.5))
}