.t_body {
      /* fallback for old browsers */
  background: #d9d9c9;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(217, 217, 201, 0.5), rgba(217, 201, 217, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(217, 217, 201, 0.5), rgba(217, 201, 217, 0.5))
}